[user]
  name = Unreal Hoang
  email = unrealhoang@gmail.com
  signingkey = F66217BDC6F37CFA
[core]
  autocrlf = input
  editor = nvim
[alias]
  ci = checkin
  st = status
  br = branch
  co = checkout
  df = diff
  cm = commit
  cp = cherry-pick
[push]
  default = current
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[diff]
  algorithm = minimal
  compactionHeuristic = true
  renames = true
[commit]
  gpgsign = true
[merge]
  conflictstyle = diff3
[pull]
  ff = only

[includeIf "gitdir:/mnt/data/Workspace/H2/"]
  path = ~/Workspace/H2/.gitconfig
